/* #header */
#navbar .img img{
    width: 100px;
    height: 40px;
    margin-left: 225px;
    margin-top: 5px;
}
#navbar{
    display: flex;
}
#navbar input{
    display: inline;
    margin-left: 34px;
    height: 24px;
    width: 234px;

}
#navbar{
    background-color: rgba(12, 130, 226, 0.685);

}
#navbar form{
    margin-top: 10px;
}
#navbar .btn{
    margin-left: 24px;
    height: 30px;
    width: 80px;
}
#navbar button{
    margin-top: 10px;
}
#navbar .cart{
    width: 80px;
    height: 35px;
    background-color: rgb(236, 163, 6);
    margin-left: 40px;
    margin-top: 9px;
    color: blue;
}
/* section */



#main-section .main-image{
    position: relative;
    top: 20px;
}
#main-section{
    height: 2250px;
}
#top-image .img{
    position: relative;
    top: 10px;
}
#top-image .img img{
    width: 100vw;
    height: 20vh;
}


#main-section .main-image .box{
    background-color: rgb(12, 102, 204);
    height: 50vh;
    display: flex;
    overflow: hidden;
    margin: auto;
    position: relative;
    top: 30px;
}
#main-section .main-image .box img{
    display: block;
    width: 50vw;
    height: 50vh;
    margin: auto;
} 
#main-section .main-image .box .img1{
    display: block;
    width: 50vw;
    margin: auto;
    transform: translateX(-100vw);
    animation: slider1 7s 3s infinite forwards ;
}
#main-section .main-image .box .img2{
    display: block;
    width: 50vw;
    margin: auto;
    transform: translateX(-150vw);
    animation: slider2 7s 6s infinite forwards ;
}

@keyframes slider1 {
    0%{
        transform: translateX(-100vw);
    }
    50%{
        transform: translateX(20vw);
    }
    100%{
        transform: translateX(100vw);
    }
    
}  
@keyframes slider2 {
    0%{
        transform: translateX(-150vw);

    }
    50%{
        transform: translateX(-24vw);
    }
    100%{
        transform: translateX(150vw);
    }
}    

  
   
#headings .primary-heading{
    position: relative;
    left: 34px;
    top: 90px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.one{
    border: .5px solid black;
    position: relative;
    top: 105px;
}
.second{
    border: .5px solid black;
    position: relative;
    top: 75px;
}
#headings{
    position: relative;
    top: -20px;
}
#headings .btn-2{
    position: relative;
    left: 705px;
    top: 25px;
    width: 65px;
    height: 33px;
    background-color: rgb(12,130,226,0.685);
    color: black;
    font-size: 15px;
    border-radius: 7px;

}
#items-box .electronics{
    display: flex;
}
#items-box .electronics .img-one{
    position: relative;
    left: 44px;
    top: 75px;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(134, 131, 128); */
}
#items-box .electronics .img-two{
    position: relative;
    left: 120px;
    top: 75px;
    display: flex;
    flex-direction: column;
}
#items-box .electronics .img-three{
    position: relative;
    left: 185px;
    top: 75px;
    display: flex;
    flex-direction: column;
}
#items-box .electronics .img-four{
    position: relative;
    left: 220px;
    top: 75px;
    display: flex;
    flex-direction: column;
}
#items-box .electronics span{
    margin-top: 14px;
    font-family: sans-serif;
}
#heading-2 .heading-2{
    position: relative;
    top: 110px;
    left: 45px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.electronics-2 .all-images-2{
    display: flex;
    /* flex-direction: column; */
    /* border: 2px solid red; */
    position: relative;
    top: 105px;
    left: 50px;
}
.electronics-2 .all-images-2 .img-five{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
}
.electronics-2 .all-images-2 .img-six{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 55px;
    margin-left: 80px;
}
.electronics-2 .all-images-2 .img-seven{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
    margin-left: 66px;
}
.electronics-2 .all-images-2 .img-eight{
    display: flex;
    /* height: 40vh; */
    /* width: 29vw; */
    flex-direction: column;
    position: relative;
    top: 30px;
    margin-left: 30px;
}
.img-five span{
    margin-top: 24px;
    font-family: sans-serif;
}
.img-six span{
    margin-top: 24px;
    font-family: sans-serif;
}
.img-seven span{
    margin-top: 24px;
    font-family: sans-serif;
}
.img-eight span{
    margin-top: 24px;
    font-family: sans-serif;
}
#heading-3 .heading-3{
    font-size: 24px;
    position: relative;
    top: 155px;
    left: 55px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#home-items .box-home{
    display: flex;
    /* border: 2px solid red; */
    position: relative;
    top: 175px;
    left: 45px;
    padding: 0 20px;
}
#home-items .box-home .img-nine{
    display: flex;
    flex-direction: column;
    position: relative;
    left: -15px;

}
#home-items .box-home .img-nine .img9{
    width:160px;

}
#home-items .box-home .img-ten { 
    position: relative; 
    left: 40px; 

} 
#home-items .box-home .img-ten .img10{
    width: 140px;

}
#home-items .box-home .img-eleven{
    margin-left: -10px;
    position: relative;
    left: 110px;
    /* border: .1px solid black; */
    height: 140px;
}
#home-items .box-home .img-twelve{
    position: relative;
    left: 145px;
    height: 134px;
}
#home-items .box-home .img-twelve .img12{
    width: 120px;
    height: 150px;

} 
.one-1{
    position: relative;
    top: 190px;
    border: 1px solid black;
}
#heading-4 .heading-4{
    position: relative;
    top: 175px;
    left: 300px;
    font-family:sans-serif;
    font-size: 30px;
    
}
#big-billion .big-billion{
    position: relative;
    top: 375px;
    /* left: 175px; */
}
#big-billion .big-billion .imgofbillion{
    width: 100vw;
    height: 660px;

}

#four-images .four-images{
    display: flex;
    border: 2px solid black;
    position: relative;
    bottom: 490px;
    height: 147px;
    background-color: rgb(194, 189, 189);

}
#four-images .four-images .first-image{
    position: relative;
    top: 20px;
    left: 20px;
}
#four-images .four-images .first-image .image-90{
    width: 180px;
    height: 100px;
    /* border-radius: 100%; */
    margin-right: 30px;
    margin-left: 20px;
}
#four-images .four-images .second-image{
    position: relative;
    top: 20px;
    left: 20px;
}
#four-images .four-images .second-image .image-100{
    width: 180px;
    height: 100px;
    /* border-radius: 100%; */
    margin-right: 30px;
    margin-left: 20px;
}
#four-images .four-images .third-image{
    position: relative;
    top: 20px;
    left: 20px;
}
#four-images .four-images .third-image .image-110{
    width: 180px;
    height: 100px;
    /* border-radius: 100%; */
    margin-right: 30px;
    margin-left: 20px;
}
#four-images .four-images .fourth-image{
    position: relative;
    top: 20px;
    left: 20px;
}
#four-images .four-images .fourth-image .image-120{
    width: 180px;
    height: 100px;
    /* border-radius: 100%; */
    margin-right: 30px;
    margin-left: 20px;
}
footer{
    position: relative;
    background-color: rgb(12,102,204);
    height: 5vh;
}
footer .para{
    position: relative;
    left: 350px;
    top: 5px;
    font-family: sans-serif;
    color: white;
    /* text-align: center; */

}